body {
    margin: 0px;
    background-image: url(circle-5090539_1280.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding: 15px;
    z-index: 8000;
    width: 100%;
    height:40px;
    margin-top: 0;
    top: 0;
    text-align: center;
    background-color: #6ba5ce;
    position: fixed;
}
h2 {
    color:rgba(255, 255, 255, 0.771);
    width: 100%;
    height: 150px;
    position: relative;
    top: 50px;
}

#flipCard {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 50px;
    background-color:transparent;
    width: 100%;
    height: 100%;  
 
}

.cardZone {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
    height: 250px;
    text-align:center;
    transition: 1.5s;
    transform-style: preserve-3d;
}

.cardZone:hover {
    transform: rotateY(180deg) scale(2);
    z-index: 1000;
}

.borderDemoFront, .borderDemoBack {
    position: absolute;   
    backface-visibility: hidden;
    border-radius: 5%;
    border: 10px solid #6ba5ce;

}

.borderDemoFront {
    width: 100%;
    height: 100%;
    background-color: #6ba5ce;
    box-shadow: 5px 5px 15px 5px #c1b8b8;

}

p{
    margin-top: 0;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:larger;
    font-weight: bolder;
}

.imageFront {
    border-radius: 5px;
    width: 90%;
    height: auto;
   
}

.borderDemoBack {
    overflow: auto;
    width: 100%;
    height: 100%;
    font-size: 2vh;
    box-shadow: 0px 0px 15px 5px #c1b8b8;
    background-color: #6ba5ce;
    transform: rotateY(180deg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:10px;
}




